.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    margin: auto;
    width: 85vw; 
}

.nav-items {
    display: flex;
    flex-direction: column;
    padding: 2px 2px 2px 2px;
}

